<app-toolbar title="Client Reset Credentials Verification" icon="close" (iconClick)="close()"></app-toolbar>

<div class="mat-card-content">
  <div class="dialog-content" mat-dialog-content>
    <p class="desc">This operation will renew <b>Client Secret</b> and will delete all currently activated access tokens. <br><br><b>Are you sure?</b></p>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="close()">Cancel</button>
    <button class="btn-delete" mat-button color="warn" (click)="verifyReset()">Reset</button>
  </div>
</div>
  