<mat-toolbar color="primary" class="main">
    <mat-toolbar-row>
      <div class="logo-main" *ngIf="displayLogo">
        <img class="logo-img" src="/assets/png/spike-logo.png" width="80">
        <span class="logo-text">{{ title }}</span>
      </div>
      <span *ngIf="!displayLogo" class="title">{{ title }}</span>
      <span class="example-spacer"></span>
      <a *ngIf="helpButton" href="/help" class="btn-stl"><button class="btn-help" mat-button>Help</button></a>
      <button (click)="onIconClick()" *ngIf="!helpButton && icon" mat-icon-button class="btn-stl"><mat-icon>{{ icon }}</mat-icon></button>
      <span class="example-spacer-right"></span>
  </mat-toolbar-row>
</mat-toolbar>