.spinner-opts {
    position:relative;
    top:180px;
}

.tb-header {
    color:black;
    font-weight: bold;
}

.lock-icon {
    width: 21px;
    height: 21px;
    font-size: 21px;
    color: #9a9a9a;
    position: relative;
    top: 1px;
}

.access-span {
    position: relative;
    bottom: 3px;
    left: 4px;
}

.icon-empty {
    color: #DADADA;
    text-align: center;
    font-size: 300px;
    width: 300px;
    height: 300px;
    cursor: default;
}

.div-empty {
    position:relative;
    top:62px;
    height:400px;
    text-align: center;
}

.span-empty {
    font-family: Arial;
    text-align:center;
    font-size: 22px;
    color: #CACACA;
}